<%- include("header") -%>
<h1>LISTADO DE TURNOS</h1>
<section>
  <div class="container-card">
    <% for (let i=0; i < turnos.length; i++) { %>
    <div class="card-turn">
      <h2><%= turnos[i].code%></h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit Lorem ipsum
        dolor sit amet consectetur, adipisicing elit..
      </p>
      <h2><%= turnos[i].box%></h2>
      <div class="cont-button">
        <a href="/turnos/editar/<%=Turno.id%>"><button type="submit" class="editar">Editar</button></a>
       <a href=""> <button type="reset" class="eliminar">Eliminar</button></a>
      </div>
    </div>
    <% } %>
  </div>
</section>
<%- include("footer") -%>






